.header{
  display: flex;
  background-color: rgb(50, 167, 145);
}

#evaluation-form {
  display: flex;
  flex-direction: column;
}

#preferences {
  display: flex;
  flex-direction: row;
}

#families {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
}

#tools {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
}
#grade {
  display: flex;
}

hr {
  background-color: black;
  height: 1px;
  width: 100%;
}

#submit-btn {
  color: white;
  font-weight: 600;
  background-color: rgb(90, 13, 161);
}

footer {
  color: white;
  background-color: rgb(70, 69, 69);
  text-align: center;
  padding: 6px;
  font-size: 0.8em;
}
