#evaluation-form {
  display: flex;
  flex-direction: column;
}

.header{
display: flex;
justify-content: space-between;
background-color: rgb(50, 167, 145);
}

.trybewarts-login{
  display: flex;
  align-items: center;
}